<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>grofersMethods</td><td>grofersTest.validLoginCheck()[pri:1, instance:grofers.gTest.grofersTest@3043fe0e]<br/></td></tr>
</table>
