<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6c91b2">  <td>17/11/09 16:04:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;grofersTest.openTheBrowser()[pri:0, instance:grofers.gTest.grofersTest@3043fe0e]">&gt;&gt;openTheBrowser</td> 
<td>&nbsp;</td>  <td>main@1154002927</td>   <td></td> </tr>
<tr bgcolor="6c91b2">  <td>17/11/09 16:05:12</td>   <td>68888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="grofersTest.validLoginCheck()[pri:1, instance:grofers.gTest.grofersTest@3043fe0e]">validLoginCheck</td> 
  <td>main@1154002927</td>   <td></td> </tr>
<tr bgcolor="6c91b2">  <td>17/11/09 16:05:45</td>   <td>101826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;grofersTest.catchExceptions(org.testng.ITestResult)[pri:0, instance:grofers.gTest.grofersTest@3043fe0e]">&lt;&lt;catchExceptions</td> 
<td>&nbsp;</td>  <td>main@1154002927</td>   <td></td> </tr>
</table>
